<style type="text/css">
  body{
    color:white;
    background-color:black;
  }
  .float-container{
    overflow:auto;
    width:100%;
    margin-top:1em;
  }
  .footer{
    position:absolute;
    bottom:0.5em;
    width:99%;
    text-align:center;
  }
</style>
<h1>What a Schmozzel!</h1>
<div class='float-container'>
  <div style='float:left; width:20em; margin-left:2em;'>
    <h2 style="font-style:italic;">Schmozzel</h2>
    <span style='font-style:bold;'>noun </span><span>\she-mawz-uhl\</span> <br />
    <ul>
      <li>A group of three or more monkeys</li>
      <li>A big mess</li>
    </ul>
  </div>
  <div style='float:left;'>
    <ul>
      <h2>What is Schmozzel?</h2>
      <li>Schomzzel does what GroupMe does, but it works</li>
      <li>Schmozzel is owned and operated by us, so it's completly private</li>
      <li>Schmozzel was made in about 2 hours by Mark, becuase he said he would last night at the Winking Lizard.</li>
      <li>Schmozzel did not recieve $10M in venture funding like GroupMe.  Sorry, we're still poor.</li>
    </ul>
  </div>
</div>
<div class='float-container'>
  <div style='float:left; margin-left:2em;'><%= image_tag 'schmozzel_screenshot.png', style:'height:30em; width:auto;' %></div>
  <div style='float:left;'>
    <ul>
      <h2>How Can I Join the Schmozzel?</h2>
      <li>Just text or email anything to 'natter@schmozzel.com' <br /> <span style="padding-left:2em;font-size:80%;">"natter" is the noise monkey's make</span></li>
      <li>All the other schmozzelers will get a copy of your message.</li>
      <li>You can give yourself a name by texting, '#call_me mister_monkey_shines'</li>
      <li>See all the schmozzel commands by texting, '#help'</li>
    </ul>
  </div>
</div>
<div class='footer'>
   Copyright 2011, Mark J. Lorenz, I probably would accept that $10M by the way. 
</div>
