<%= form_for(@schmozzeler) do |f| %>
  <% if @schmozzeler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schmozzeler.errors.count, "error") %> prohibited this schmozzeler from being saved:</h2>

      <ul>
      <% @schmozzeler.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
